<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="MaratonaTreinamento.Android">
	<uses-sdk android:minSdkVersion="28" android:targetSdkVersion="30" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:label="MaratonaTreinamento"></application>
</manifest>