# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
G2.Mobile.Solution/.vs/G2.Mobile.Solution/v15/Server/sqlite3/db.lock
G2.Mobile.Solution/.vs/G2.Mobile.Solution/v15/Server/sqlite3/storage.ide
G2.Mobile.Solution/.vs/G2.Mobile.Solution/v15/Server/sqlite3/storage.ide-shm
G2.Mobile.Solution/.vs/G2.Mobile.Solution/v15/Server/sqlite3/storage.ide-wal
G2.Mobile.Solution/.vs/G2.Mobile.Solution/DesignTimeBuild/.dtbcache
G2.Mobile.Solution/.vs/G2.Mobile.Solution/v16/Server/sqlite3/storage.ide-wal
G2.Mobile.Solution/.vs/G2.Mobile.Solution/v16/Server/sqlite3/storage.ide-shm
G2.Mobile.Solution/.vs/G2.Mobile.Solution/v16/Server/sqlite3/storage.ide
G2.Mobile.Solution/.vs/G2.Mobile.Solution/v16/Server/sqlite3/db.lock
G2.Mobile.Solution/.vs/G2.Mobile.Solution/DesignTimeBuild/.dtbcache~6a173dfa891c780bf28f3be95beca41fcf038f5f
Crm.Mobile.Solution/.vs/
Crm.Mobile.Solution/Crm.Mobile/Crm.Mobile.Android/Resources/Resource.designer.cs
